<section class="pedidos-container">
    <h2 class="pedidos-title">Realizar Pedido</h2>
  
    <form class="pedidos-form">
      <div class="form-field">
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="equipo.nombre" type="text" class="form-control" name="nombre">
      </div>
  
      <div class="form-field">
        <label for="numero">Número de teléfono</label>
        <input [(ngModel)]="equipo.numero" type="text" class="form-control" name="numero">
      </div>
  
      <div class="form-field">
        <label for="correo">Correo electrónico</label>
        <input [(ngModel)]="equipo.correo" type="text" class="form-control" name="correo">
      </div>
  
      <div class="form-field">
        <label for="direccion">Dirección</label>
        <input [(ngModel)]="equipo.direccion" type="text" class="form-control" name="direccion">
      </div>
  
      <div class="form-field">
        <label for="producto">Producto</label>
        <input [(ngModel)]="equipo.producto" type="text" class="form-control" name="producto">
      </div>
  
      <button (click)="agregar()" class="submit-button">Realizar Pedido</button>
    </form>
  </section>
  