<nav class="navbar navbar-expand navbar-light">
  <div class="navbar-text">Ferreteria UCB</div>
  <ul class="nav navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pedidos">Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="inventario">Inventario</a>
    </li>
    <li class="nav-item last">
      <a class="nav-link" routerLink="contactos">Contactos</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
