<main>
        <section class="container about">
            <br><br>
            <app-banner></app-banner>


            <div class="about__main">
                <article class="about__icons">
                    <img src="../../assets/images/martillo.png" class="about__icon">
                    <h3 class="about__title"><strong>Amplia selección de productos</strong></h3>
                    <p class="about__paragrah">Encuentra una amplia variedad de herramientas y materiales de calidad en nuestra página web de la ferretería universitaria.</p>
                </article>

                <article class="about__icons">
                    <img src="../../assets/images/destornillador.png" class="about__icon">
                    <h3 class="about__title"><strong>Precios competitivos</strong></h3>
                    <p class="about__paragrah">Disfruta de precios competitivos en herramientas y materiales para estudiantes y personal universitario.</p>
                </article>

                <article class="about__icons">
                    <img src="../../assets/images/llave.png" class="about__icon">
                    <h3 class="about__title"><strong>Entrega en el campus</strong></h3>
                    <p class="about__paragrah">Recibe tus pedidos de forma rápida y conveniente en el campus universitario.</p>
                </article>
            </div>
        </section>

        <br><br>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Martillo de carpintero</h2>
                    <p class="knowledge__paragraph">El martillo de carpintero es una herramienta esencial para todo tipo de trabajos de carpintería. Con su cabeza de acero y su mango de madera resistente, este martillo te permite clavar y extraer clavos de manera eficiente. Su diseño equilibrado y ergonómico proporciona un agarre cómodo y un control preciso, lo que lo convierte en la elección perfecta para proyectos de construcción y reparación en madera. Ya sea que estés construyendo muebles, colocando molduras o realizando reparaciones en tu hogar, el martillo de carpintero te brinda la potencia y precisión necesarias para obtener resultados profesionales.</p>
                    <a href="#" class="cta">Ver mas</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="../../assets/images/card_herramientas.jpg" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="knowledgee">
            <div class="knowledge__container container">
                <figure class="knowledge__picture">
                    <img src="../../assets/images/card_herramientas.jpg" class="knowledge__img">
                </figure>
                <div class="knowledege__texts">
                    <h2 class="subtitle">Destornillador eléctrico</h2>
                    <p class="knowledge__paragraph">El destornillador eléctrico es una herramienta práctica y eficiente que te facilita el trabajo de apretar y aflojar tornillos. Con su motor eléctrico de alta velocidad, este destornillador te permite realizar tareas de atornillado de manera rápida y sin esfuerzo. Su diseño compacto y ergonómico se adapta cómodamente a tu mano, lo que te brinda un control óptimo durante su uso. Ya sea que estés montando muebles, realizando reparaciones o trabajando en proyectos de bricolaje, el destornillador eléctrico te ahorrará tiempo y energía, convirtiéndose en un aliado indispensable en tu caja de herramientas.</p>
                    <a href="#" class="cta">Ver mas</a>
                </div>

                
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Sierra de calar</h2>
                    <p class="knowledge__paragraph">La sierra de calar es una herramienta versátil que te permite realizar cortes precisos en una variedad de materiales, como madera, plástico o metal. Equipada con una hoja dentada y un motor potente, esta sierra te brinda la capacidad de realizar cortes curvos, rectos e incluso biselados con facilidad. Su diseño ergonómico y su sistema de cambio rápido de hojas facilitan su uso y te permiten adaptarte a diferentes proyectos y materiales. Ya sea que estés trabajando en proyectos de carpintería, instalando pisos laminados o realizando tareas de renovación, la sierra de calar te ofrece la precisión y versatilidad necesarias para obtener resultados impecables en tus cortes.</p>
                    <a href="#" class="cta">Ver mas</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="../../assets/images/card_herramientas.jpg" class="knowledge__img">
                </figure>
            </div>
        </section>
          

        
    </main>

    